* {
    margin: 0;
    padding: 0;
    font-family: Arial, verdana, tahoma;
}

:root {
  --principal: #000000;
  --secundaria: #51ff00;
  --terciaria:  #2a7f00;
  --quaternaria: #8dff5a;
}

body {
    background-color: rgb(0, 0, 0);
    color: rgb(0, 255, 0);
}

header {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    align-items: center;
    nav a {
        color: #51ff00;
        text-decoration: none;
        padding: 10px;
        margin: 0 20px;
        border: 1px solid transparent;
        transition: 0.5s;
        border-radius: 20px;
    }
    nav a:hover {
        border: 1px solid #51ff00;
    }
}

.logo img {
    width: 50px;
}

.Formulário{
    h1{
        margin-bottom: 20px;
    }
}

.contatomain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.realjogo {
    overflow-y: hidden;
}

form {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 30px;
    border-radius: 10px;
    background-color: #000;
    width: 400px;
    margin: 50px;
    transition: 0.5s;
    .pt {
        margin: 10px;
        background-color: #000;
        border: 1px solid var(--secundaria);
        color: var(--secundaria);
    }
    .ptt {
        margin: 10px;
        transition: 0.5s;
        border: 0;
    }
    .ptt:hover {
        transition: 0.5s;
        scale: 1.05;
        cursor: pointer;
    }
}

form:hover {
        box-shadow: 0 0 10px rgb(0, 255, 64);
        transition: 0.5s;
}

input, button {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 1em;
     border-radius: 10px;
      font-weight: bold;
      background-color: rgb(187, 236, 195);
}

button {
    background-color: rgb(30, 255, 0);
}



.part1 img {
    align-items: center;
    width: 100%;
}

.sobre{
    background-color: #00ff22;
    text-align: center;
    box-sizing: border-box;
}
   
    
.texto1{
    font-family: serif;
    color: #00ff0d;
    background: #000000;
    box-shadow: 0 0 15px black;
    font-size: 90px;
    width: 100%;
    
    }

.texto2 {
    color: #245206;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.texto3 {
    display: flex;
    justify-content: center;
    color: #163501;
    padding: 10px;
}

.texto4{
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 0 100px;
    color: #163501;
    font-weight: bold;
    box-sizing: border-box;
    img{
        width: 33%;
    }
}

.thehatbelow {
    text-align: center;
    width: 100%;
    img{
    width: 100%;
    background-color: rgb(0, 0, 0);
    }
}

.galeria1 {
    text-align: center;
    .galeria11{
        padding: 10px;
        font-size: 60px;
        font-family: serif;

    }
    img {
        margin: 50px;
        width: 25%;
        padding: 10px;
        box-sizing: border-box;
        box-shadow: 0 0 10px rgb(47, 255, 57);
    }
}
.mainhome{ 
    text-align: center;
    background-color: white;
}


.aqq { 
    text-align: center;
    background-color: rgb(0, 0, 0);
}

.homebutton {
    background-color: #00ff00;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 10px;
    box-shadow: 0 0 10px rgb(5, 75, 3);
}
.homebutton:hover {
    background-color: #447a20;
}

footer {
    width: 100%;
    background-color: rgb(0, 0, 0);
    padding: 20px;
    box-sizing: border-box;
    text-decoration: none;
    img{
        width: 100px;
        padding-top: 10px;
    }
}

footer a {
    text-decoration: none;
    color: rgb(0, 255, 0);
}

.fost{
   display: flex;
   align-items: center;
   justify-content: center;
   color: rgb(0, 255, 0);
   p {
    padding: 10px;
    color: rgb(0, 255, 0);
        a {
        margin: 0 10px;
        }
   }
}

footer p {
    text-align: center;
}


.linkfoot {
    text-decoration: none;
}

.linkfoot:hover {
    text-decoration: underline;
}




@media (max-width: 480px) {
    .texto1 {
        font-size: 50px;
    }
    .texto2{
        font-size: 10px;
    }
}